<mat-toolbar color="primary" *ngIf="isAuthenticated()">
  <a mat-button color="secondary" routerLink="home">
    <mat-icon>home</mat-icon>&nbsp;
    <span>HOME</span>
  </a>

  <mat-menu #list="matMenu">
    <a mat-menu-item routerLink="food">
      <mat-icon>fastfood</mat-icon>
      <span>Food list</span>
    </a>
    <a mat-menu-item routerLink="exercise">
      <mat-icon>directions_run</mat-icon>
      <span>Exercise list</span>
    </a>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="list" class="nav-item">
    <mat-icon>list</mat-icon>&nbsp;
    <span>LISTS</span>
  </button>

  <mat-menu #tracker="matMenu">
    <a mat-menu-item routerLink="food/tracker">
      <mat-icon>kitchen</mat-icon>
      <span>Food tracker</span>
    </a>
    <a mat-menu-item routerLink="exercise/tracker">
      <mat-icon>fitness_center</mat-icon>
      <span>Exercise tracker</span>
    </a>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="tracker" class="nav-item">
    <mat-icon>event</mat-icon>&nbsp;
    <span>TRACKERS</span>
  </button>

  <button mat-icon-button class="nav-item nav-reports" routerLink="reports">
    <mat-icon>assessment</mat-icon>&nbsp;
    <span>REPORTS</span>
  </button>

  <span class="fill-remaining-space"></span>
  <span class="welcome-span" *ngIf="isAuthenticated()">Signed in as <b>{{username}}</b></span>
  <button class="mat-button-menu" mat-button [matMenuTriggerFor]="menuList">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menuList="matMenu">
    <a mat-menu-item [matMenuTriggerFor]="profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <a mat-menu-item [matMenuTriggerFor]="users" *ngIf="hasAdminAuthority">
      <mat-icon>group</mat-icon>
      <span>Manage Users</span>
    </a>
    <a mat-menu-item (click)="logout()">
      <mat-icon>clear</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>

  <mat-menu #users="matMenu">
    <a mat-menu-item routerLink="admin/users">
      <mat-icon>edit</mat-icon>
      <span>Update Users</span>
    </a>
  </mat-menu>
  <mat-menu #profile="matMenu">
    <a mat-menu-item routerLink="profile/edit">
      <mat-icon>edit</mat-icon>
      <span>Update Profile</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!isAuthenticated()">

  <a mat-button color="primary" routerLink="">
    <mat-icon>home</mat-icon>&nbsp;
    <span>FITNESS TRACKER</span>
  </a>

  <span class="fill-remaining-space"></span>

  <button routerLink="" mat-button color="primary" *ngIf="!loginPage">
    <span>Login</span>
  </button>

  <button routerLink="signup" mat-button color="primary" *ngIf="loginPage">
    <span>Register</span>
  </button>
</mat-toolbar>
